.abilities {
    padding-top: 180px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        max-width: 530px;
    }
    &__item-top {
        display: flex;
        align-items: center;
        gap: 35px;
        max-width: 520px;
    }
    &__item-text {
        max-width: 570px;
        margin-top: 30px;
    }
    .squares {
        margin: 45px 0;
    }
}

.abilities-info {
    .squares {
        margin: 50px 0;
        justify-content: flex-start;
    }
    &__title {
        text-align: left;
        max-width: 530px;
    }
    &__text {
        max-width: 530px;
    }
    &__icons {
        margin: 50px auto 0;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__icons-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 100px;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

.abilitiesmb-slider {
    order: -1;
}

.abilities-slider {
    position: relative;
    &__item,
    .abilitiesmb-slider__item {
        width: 640px;
        display: none;
        margin: 0 auto;
        &--active {
            display: block;
        }
    }
    &__item-img,
    .abilitiesmb-slider__item-img {
        display: block;
        height: 550px;
        width: 640px;
        object-fit: cover;
    }
    &__item-text,
    .abilitiesmb-slider__item-text {
        display: block;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        @extend %reforma-600;
        max-width: 425px;
        margin: 50px auto -50px;
    }
    &__btn--left,
    .abilitiesmb-slider__btn--left {
        left: 10px;
    }
    &__btn--right,
    .abilitiesmb-slider__btn--right {
        right: 10px;
    }
}