html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-size: 24px;
    line-height: 30px;
    @extend %reforma-500;
    letter-spacing: 0.03em;
    color: $white-color;
    display: flex;
    flex-direction: column;
    background-color: $black-color;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}

h1 {
    font-size: 150px;
    line-height: 190px;
    @extend %reforma-700;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: $accent-color;
    max-width: 640px;
    margin: 0 auto;
}

.title {
    @extend %reforma-600;
    font-size: 52px;
    line-height: 72px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    max-width: 640px;
    margin: 0 auto;
}

h3 {
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0.05em;
    @extend %reforma-600;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @extend %reforma-600;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    div {
        width: 10px;
        height: 10px;
        background-color: $accent-color;
        transform: rotate(-45deg);
    }
}

.photo-slider__btn--left,
.photo-slider__btn--right,

.abilities-slider__btn--left,
.abilities-slider__btn--right,

.abilitiesmb-slider__btn--left,
.abilitiesmb-slider__btn--right {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid $accent-color;
    transform: rotate(-45deg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
    }
}
.photo-slider__btn--left,
.abilities-slider__btn--left,
.abilitiesmb-slider__btn--left {
    &::before {
        transform: rotate(45deg) translateX(-25px);
        background-image: url("../images/icons/arrow-left.svg");
    }
    left: -120px;
}
.photo-slider__btn--right,
.abilities-slider__btn--right,
.abilitiesmb-slider__btn--right {
    &::before {
        transform: rotate(45deg) translateX(-20px);
        background-image: url("../images/icons/arrow-right.svg");
    }
    right: -120px;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1500px) {
    .photo-slider__btn--left {
        left: -75px;
    }
    .photo-slider__btn--right {
        right: -60px;
    }
}

@media (max-width: 1425px) {
    .photo-slider__btn--left {
        left: 50%;
        top: -100px;
    }
    .photo-slider__btn--right {
        right: 45%;
        bottom: -100px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 42px;
        line-height: 52px;
    }
}